SeriousMD ETL for STADVDB MCO1: Query Processing Technical Report

# Import libraries

## Before running the rest of the code, install the following libraries
    pip install pandas
    pip install numpy
    pip install sqlalchemy
    pip install mysqlclient

In [1]:
import pandas as pd
import numpy as np
import re
import difflib
from sqlalchemy import create_engine
from datetime import datetime
from autocorrect import Speller

# 1. Extract
---

## Establish a connection with the source database

In [2]:
source_db = create_engine("mysql://root:12345@localhost:3306/seriousmd")

## Load the data from the source database

In [3]:
# Load Appointments
appointments_source = pd.read_csv('datasets/appointments.csv', encoding='latin1')

In [4]:
# Load Clinics
clinics_source = pd.read_csv('datasets/clinics.csv', encoding='latin1')

In [5]:
# Load Doctors
doctors_source = pd.read_csv('datasets/doctors.csv', encoding='latin1')

In [6]:
# Load Patients
patients_source = pd.read_csv('datasets/px.csv', encoding='latin1')

C:\Users\Thinkpad\AppData\Local\Temp\ipykernel_19768\3776179607.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  patients_source = pd.read_csv('datasets/px.csv', encoding='latin1')

In [7]:
appointments_df = appointments_source.copy()
clinics_df = clinics_source.copy()
doctors_df = doctors_source.copy()
patients_df = patients_source.copy()

# 2. Transform
---

#### Print number of rows before processing

In [8]:
print('Appointments', ' ', len(appointments_df.index))
print('Clinics', ' ', len(clinics_df.index))
print('Doctors', ' ', len(doctors_df.index))
print('Patients', ' ', len(patients_df.index))

Appointments   9752932
Clinics   53962
Doctors   60024
Patients   6507813

In [9]:
# Rename columns to match SQL column names
patients_df = patients_df.rename(columns={'pxid': 'px_id', 'age': 'age', 'gender': 'gender'})
clinics_df = clinics_df.rename(columns={'clinicid': 'clinic_id', 'hospitalname': 'hospital_name', 'IsHospital': 'is_hospital', 'City': 'city', 'Province': 'province', 'RegionName': 'region_name'})
doctors_df = doctors_df.rename(columns={'doctorid': 'doctor_id', 'mainspecialty': 'main_specialty', 'age': 'age'})
appointments_df = appointments_df.rename(columns={'pxid': 'px_id', 'clinicid': 'clinic_id', 'doctorid': 'doctor_id', 'apptid': 'appt_id', 'status': 'status', 'TimeQueued': 'time_queued', 'QueueDate': 'queue_date', 'StartTime': 'start_time', 'EndTime': 'end_time', 'type': 'type', 'Virtual': 'virtual_appt'})

## Remove appointment records with reference keys that does not exist in other tables

In [10]:
# Get unique patient_ids, clinic_ids, and doctor_ids
valid_patientids = set(patients_df['px_id'])
valid_clinicids = set(clinics_df['clinic_id'])
valid_doctorids = set(doctors_df['doctor_id'])

# Remove appointment records that has an invalid reference id
appointments_df = appointments_df[
    appointments_df['px_id'].isin(valid_patientids) &
    appointments_df['clinic_id'].isin(valid_clinicids) &
    appointments_df['doctor_id'].isin(valid_doctorids)
]

## Remove patients, clinics, and doctors not referenced in appointments

In [11]:
# Check for patients that does not have any appointment record
patients_with_appointments = set(appointments_df['px_id'])
patients_df = patients_df[patients_df['px_id'].isin(patients_with_appointments)]

# Check for clinics not in any appointment record
clinics_with_appointments = set(appointments_df['clinic_id'])
clinics_df = clinics_df[clinics_df['clinic_id'].isin(clinics_with_appointments)]

# Check for doctors that does not have any appointment record
doctors_with_appointments = set(appointments_df['doctor_id'])
doctors_df = doctors_df[doctors_df['doctor_id'].isin(doctors_with_appointments)]

In [12]:
print('Appointments', ' ', len(appointments_df.index))
print('Clinics', ' ', len(clinics_df.index))
print('Doctors', ' ', len(doctors_df.index))
print('Patients', ' ', len(patients_df.index))

Appointments   320140
Clinics   158
Doctors   43
Patients   109032

### Preprocess

In [13]:

# Preprocess doctors
doctors = doctors_df.copy()
doctors['age'] = pd.to_numeric(doctors['age'], errors='coerce')
doctors['main_specialty'] = doctors['main_specialty'].replace('', None)

# Preprocess clinics
clinics = clinics_df.copy()
clinics['is_hospital'] = clinics['is_hospital'].apply(lambda x: 1 if x == 'True' else 0)
clinics['hospital_name'] = clinics['hospital_name'].replace('', None)

# Preprocess patients
patients = patients_df.copy()
patients['age'] = patients['age'].apply(lambda x: int(x) if str(x).isdigit() else None)

# Preprocess appointments
appointments = appointments_df.copy()
appointments['virtual_appt'] = appointments['virtual_appt'].apply(lambda x: 1 if x == 'True' else 0)

## 2.A Preprocessing - Appointments

In [14]:
appointments_df.head()

,px_id,clinic_id,doctor_id,appt_id,status,time_queued,queue_date,start_time,end_time,type,virtual_appt
76059,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38.073000000,2020-07-02 17:15:38.073000000,Consultation,NaN
76061,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15.833000000,2020-07-12 17:15:15.833000000,Consultation,NaN
76063,E430B3D3AEED550612FFDBD0F2F94112,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,B2C83D6DE89A88C5CD9EA1FD5FC00602,Queued,2020-07-13 07:00:50.127000000,2020-07-19 16:00:00,2020-07-20 05:00:49.687000000,2020-07-20 05:15:49.687000000,Consultation,NaN
76064,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13.133000000,2020-07-29 05:15:13.133000000,Consultation,NaN
76069,41E3F930274A7704305EE197F3434877,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,C805F7992F18E33AB85CEBD572680943,Queued,2020-06-26 05:54:35.117000000,2020-09-27 16:00:00,2020-09-27 17:00:34.917000000,2020-09-27 17:15:34.917000000,Consultation,NaN

In [15]:
appointments_df.dtypes

px_id           object
clinic_id       object
doctor_id       object
appt_id         object
status          object
time_queued     object
queue_date      object
start_time      object
end_time        object
type            object
virtual_appt    object
dtype: object

### Filter out invalid appointment records. These appointments are recorded with date greater than current date. There are also some outliers with queue_date of year 2565

In [16]:
current_date = datetime.now()
time_date_columns = ['time_queued', 'queue_date', 'start_time', 'end_time']

for col in time_date_columns:
    appointments_df[col] = pd.to_datetime(appointments_df[col], errors='coerce')


# Remove outlier rows with dates greater than year 2262
for col in time_date_columns:
    appointments_df = appointments_df[(appointments_df[col] <= pd.Timestamp.max) | appointments_df[col].isnull()]

# Remove records with dates greater than current date.
for col in time_date_columns:
    appointments_df = appointments_df[(appointments_df[col] <= current_date) | appointments_df[col].isnull()]

# Convert the remaining columns to datetime64[ns] dtype
for col in time_date_columns:
    appointments_df[col] = pd.to_datetime(appointments_df[col]).dt.ceil(freq='s')  

print(appointments_df)

                                    px_id                         clinic_id
76059    FE4A5D5A20EC492D2FC691F126A568AB  3B8D83483189887A2F1A39D690463A8F  \
76061    E6BC8E80685AA4A239617F196F12A0C3  3B8D83483189887A2F1A39D690463A8F
76063    E430B3D3AEED550612FFDBD0F2F94112  3B8D83483189887A2F1A39D690463A8F
76064    E6BC8E80685AA4A239617F196F12A0C3  3B8D83483189887A2F1A39D690463A8F
76069    41E3F930274A7704305EE197F3434877  3B8D83483189887A2F1A39D690463A8F
...                                   ...                               ...
9602481  C262D44C1E0C8451E3328343BE666813  2D5B3BE8503916AF8D41E5ADD640B0B6
9602483  F5D5EDE903850C3B541AB19AD4D21315  2D5B3BE8503916AF8D41E5ADD640B0B6
9602484  838B6A62B7DC186CDECF5D6564EFC8CB  2D5B3BE8503916AF8D41E5ADD640B0B6
9602492  BAF981CE16CC723515D127A34F4484F0  2D5B3BE8503916AF8D41E5ADD640B0B6
9602502  265BA54E520D92E0DB186DE335C804FD  2D5B3BE8503916AF8D41E5ADD640B0B6

                                doctor_id                           appt_id
76059    ACB3A881C7CE9ABCAE0CE8C99C86A906  04BC9218E072BEEFEBEE9C97B78A35C9  \
76061    ACB3A881C7CE9ABCAE0CE8C99C86A906  F2335AAFB7EE079C7E7306591057C0C9
76063    ACB3A881C7CE9ABCAE0CE8C99C86A906  B2C83D6DE89A88C5CD9EA1FD5FC00602
76064    ACB3A881C7CE9ABCAE0CE8C99C86A906  DA4023B5A8C3F1BD540EA82552F21134
76069    ACB3A881C7CE9ABCAE0CE8C99C86A906  C805F7992F18E33AB85CEBD572680943
...                                   ...                               ...
9602481  F7F07E7DAB09533BC71247A5B29A7373  3E30C5A14D659B05E1AB506479538996
9602483  F7F07E7DAB09533BC71247A5B29A7373  BA7DC84EDA21C6D219CAB7B782876188
9602484  F7F07E7DAB09533BC71247A5B29A7373  167209C9AD16B30A73E90F3EAA5C10CA
9602492  F7F07E7DAB09533BC71247A5B29A7373  11C959D3644700F43963D8B7458A0F56
9602502  F7F07E7DAB09533BC71247A5B29A7373  47628BDF1EF7A1A9292BC359FD7797B9

         status         time_queued          queue_date          start_time
76059    Queued 2020-06-22 05:11:39 2020-07-02 16:00:00 2020-07-02 17:00:39  \
76061    Queued 2020-06-26 04:51:17 2020-07-12 16:00:00 2020-07-12 17:00:16
76063    Queued 2020-07-13 07:00:51 2020-07-19 16:00:00 2020-07-20 05:00:50
76064    Queued 2020-07-13 06:07:14 2020-07-28 16:00:00 2020-07-29 05:00:14
76069    Queued 2020-06-26 05:54:36 2020-09-27 16:00:00 2020-09-27 17:00:35
...         ...                 ...                 ...                 ...
9602481  Queued 2021-03-16 22:28:28 2021-03-16 16:00:00                 NaT
9602483  Queued 2021-03-31 04:21:45 2021-03-30 16:00:00                 NaT
9602484  Queued 2021-05-16 11:01:33 2021-05-13 16:00:00                 NaT
9602492  Queued 2021-09-21 23:45:21 2021-09-21 16:00:00                 NaT
9602502  Queued 2022-01-20 08:36:24 2022-01-19 16:00:00                 NaT

                   end_time          type virtual_appt
76059   2020-07-02 17:15:39  Consultation          NaN
76061   2020-07-12 17:15:16  Consultation          NaN
76063   2020-07-20 05:15:50  Consultation          NaN
76064   2020-07-29 05:15:14  Consultation          NaN
76069   2020-09-27 17:15:35  Consultation          NaN
...                     ...           ...          ...
9602481                 NaT     Inpatient          NaN
9602483                 NaT     Inpatient          NaN
9602484                 NaT     Inpatient          NaN
9602492                 NaT     Inpatient          NaN
9602502                 NaT     Inpatient          NaN

[318926 rows x 11 columns]

### Make queue_date just date since the time for all records are the same

In [17]:
if type(appointments_df['queue_date']) != datetime.date:
    appointments_df['queue_date'] = appointments_df['queue_date'].dt.date
appointments_df

,px_id,clinic_id,doctor_id,appt_id,status,time_queued,queue_date,start_time,end_time,type,virtual_appt
76059,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:39,2020-07-02,2020-07-02 17:00:39,2020-07-02 17:15:39,Consultation,NaN
76061,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:17,2020-07-12,2020-07-12 17:00:16,2020-07-12 17:15:16,Consultation,NaN
76063,E430B3D3AEED550612FFDBD0F2F94112,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,B2C83D6DE89A88C5CD9EA1FD5FC00602,Queued,2020-07-13 07:00:51,2020-07-19,2020-07-20 05:00:50,2020-07-20 05:15:50,Consultation,NaN
76064,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:14,2020-07-28,2020-07-29 05:00:14,2020-07-29 05:15:14,Consultation,NaN
76069,41E3F930274A7704305EE197F3434877,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,C805F7992F18E33AB85CEBD572680943,Queued,2020-06-26 05:54:36,2020-09-27,2020-09-27 17:00:35,2020-09-27 17:15:35,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9602481,C262D44C1E0C8451E3328343BE666813,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,3E30C5A14D659B05E1AB506479538996,Queued,2021-03-16 22:28:28,2021-03-16,NaT,NaT,Inpatient,NaN
9602483,F5D5EDE903850C3B541AB19AD4D21315,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,BA7DC84EDA21C6D219CAB7B782876188,Queued,2021-03-31 04:21:45,2021-03-30,NaT,NaT,Inpatient,NaN
9602484,838B6A62B7DC186CDECF5D6564EFC8CB,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,167209C9AD16B30A73E90F3EAA5C10CA,Queued,2021-05-16 11:01:33,2021-05-13,NaT,NaT,Inpatient,NaN
9602492,BAF981CE16CC723515D127A34F4484F0,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,11C959D3644700F43963D8B7458A0F56,Queued,2021-09-21 23:45:21,2021-09-21,NaT,NaT,Inpatient,NaN
9602502,265BA54E520D92E0DB186DE335C804FD,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,47628BDF1EF7A1A9292BC359FD7797B9,Queued,2022-01-20 08:36:24,2022-01-19,NaT,NaT,Inpatient,NaN

### Check for multiple representations of the same categorical value (e.g. "No" being represented as "N", "no", "n", etc.)

In [18]:
for column in ['status', 'type']:
    unique_values = appointments_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print("Number of unique values:", len(unique_values))
    print()

Unique values in column 'status':
['Queued' 'Complete' 'Serving' 'Cancel' 'NoShow' 'Skip']
Number of unique values: 6

Unique values in column 'type':
['Consultation' 'Inpatient']
Number of unique values: 2

In [19]:

status_counts = appointments_df['status'].value_counts()
status_counts

status
Queued      178426
Complete    135258
Cancel        2257
Serving       1544
NoShow        1008
Skip           433
Name: count, dtype: int64

### Check for duplicates

In [20]:
duplicate_rows = appointments_df.duplicated()
num_duplicates = duplicate_rows.sum()

print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

In [21]:
appointments_df.drop_duplicates(inplace=True)
duplicate_rows = appointments_df.duplicated()
num_duplicates = duplicate_rows.sum()

print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

## 2.B Preprocessing - Clinics

In [22]:
clinics_df.head()

,clinic_id,hospital_name,is_hospital,city,province,region_name
94,D3630410C51E60941A9001A46871070E,NaN,False,Manila,Manila,National Capital Region (NCR)
1571,DC0C398086FEE58F9D64E1E47AA4E586,NaN,False,Quezon City,Manila,National Capital Region (NCR)
1574,2CFA47A65809EA0496BBF9AA363DC5DA,The Medical City,True,Pasig,Manila,National Capital Region (NCR)
1575,11A31DB27A7B70BE0BB9759CF73D0939,TMC Clinic @ SM Light Mall,True,Mandaluyong,Manila,National Capital Region (NCR)
1576,56F88DC950D4B32C2A461B792372F82F,TMC Clinic @ Robinsons Magnolia,True,Quezon City,Manila,National Capital Region (NCR)

### Check for multiple representations of the same categorical value (e.g. "No" being represented as "N", "no", "n", etc.).

In [23]:
for column in ['hospital_name', 'city', 'province', 'region_name']:
    unique_values = clinics_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print("Number of unique values:", len(unique_values))
    print()

Unique values in column 'hospital_name':
[nan 'The Medical City' 'TMC Clinic @ SM Light Mall'
 'TMC Clinic @ Robinsons Magnolia' 'Holy Child Hospital'
 'ACE Dumaguete Doctors' 'Novaliches General Hospital'
 'Our Lady of Lourdes Hospital'
 'University of the East Ramon Magsaysay Memorial Medical Center'
 'Laguna Doctors Hospital, Inc.' 'Laguna Holy Family Hospital'
 'Dagupan Doctors Villaflor Memorial Hospital'
 'Nazareth General Hospital, Inc.' 'Makati Medical Center'
 "St. Luke's Medical Center-Global City" "Calamba Doctor's Hospital"
 'Santa Rosa Hospital and Medical Center'
 'Asian Hospital and Medical Center' 'Lorma Medical Center'
 'Chong Hua Hospital' 'Sacred Heart Hospital of Malolos, Inc.'
 'St. Elizabeth Hospital' 'Diliman Doctors Hospital'
 'Capitol Medical Center' 'ManilaMed - Medical Center Manila']
Number of unique values: 25

Unique values in column 'city':
['Manila' 'Quezon City' 'Pasig' 'Mandaluyong' 'Dumaguete City' 'Makati'
 'Pangil' 'Siniloan' 'Santa Cruz' 'Cebu City' 'Iligan City' 'Pozzorubio'
 'Dagupan City' 'Liloan' 'Legazpi City' 'Kananga' 'Valencia' 'Makilala'
 'Manito' 'Iloilo City' 'Taguig' 'Las PiÃ±as' 'Calamba City'
 'Santa Rosa City' 'Muntinlupa' 'DasmariÃ±as City' 'San Fernando City'
 'ParaÃ±aque' 'Bacoor City' 'Olongapo City' 'Malolos City'
 'General Santos City' 'San Juan' 'Malabon' 'Valenzuela']
Number of unique values: 35

Unique values in column 'province':
['Manila' 'Negros Oriental' 'Laguna' 'Cebu' 'Lanao del Norte' 'Pangasinan'
 'Albay' 'Leyte' 'Cotabato' 'Iloilo' 'Cavite' 'La Union' 'Zambales'
 'Bulacan' 'South Cotabato']
Number of unique values: 15

Unique values in column 'region_name':
['National Capital Region (NCR)' 'Central Visayas (VII)'
 'CALABARZON (IV-A)' 'Northern Mindanao (X)' 'Ilocos Region (I)'
 'Bicol Region (V)' 'Eastern Visayas (VIII)'
 'SOCCSKSARGEN (Cotabato Region) (XII)' 'Western Visayas (VI)'
 'Central Luzon (III)']
Number of unique values: 10

### Check for duplicates

In [24]:
duplicate_rows = clinics_df.duplicated()
num_duplicates = duplicate_rows.sum()

print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

## 2.C Preprocessing - Doctors

In [25]:
doctors_df.head()

                             doctor_id   main_specialty   age
6     F033AB37C30201F73F142449D037028D  Family Medicine  41.0
716   2DACE78F80BC92E6D7493423D729448E       Pediatrics  40.0
1463  D1A69640D53A32A9FB13E93D1C8F3104     Pulmonology   45.0
1520  0EBCC77DC72360D0EB8E9504C78D38BD  Family Medicine  58.0
1524  9C19A2AA1D84E04B0BD4BC888792BD1E    Ophthalmology  59.0

### Check data type

In [26]:
doctors_df.dtypes

doctor_id          object
main_specialty     object
age               float64
dtype: object

### Change datatype of age to int

In [27]:
doctors_df['age'] = doctors_df['age'].astype('Int64')

### Check for multiple representations of the same categorical value (e.g. "No" being represented as "N", "no", "n", etc.).

In [28]:
for column in ['main_specialty']:
    unique_values = doctors_df[column].unique()
    print("Number of unique values:", len(unique_values))
    print()

    unique_values = [val for val in unique_values if val is not None]

    np.set_printoptions(threshold=np.inf)

    arr = np.array(unique_values)
    arr = [a.strip().lower() for a in arr]

    print(np.sort(arr))

Number of unique values: 27

['companion animal medicine & surgery' 'cosmetic dermatology'
 'cosmetic surgery' 'dermatology' 'dog & cat medicine & surgery'
 'family medicine' 'general and laparoscopic surgery' 'general medicine'
 'general/cancer surgery'
 'health optimization medicine, bioidentical hormone balancing (male and female), nutritional medicine'
 'hematology' 'hematology/internal medicine' 'infectious diseases'
 'integrative medicine, functional medicine' 'internal medicine'
 'internal medicine - adult invasive cardiology'
 'internal medicine - rheumatology'
 'internal medicine gastroenterology  and nutritional diseases'
 'internal medicine | cardiology' 'internal medicine-geriatrics'
 'neurosurgery' 'obstetrics & gynecology' 'obstetrics and gynecology'
 'ophthalmology' 'orthopedic surgery' 'pediatrics' 'pulmonology']

### Filtering unique specialty values

Let's find out our basis for filtering out the weird values. Get the occurrence of each character per entry.

In [29]:
# Get all specialties and concat into one string
special = ""
for i in set(arr):
    special += i

# Get the occurence of each character in the aggregate string
spec_chars = pd.Series({x : special.count(x) for x in set(special)})

# turn the series into dataframe for readability and sorting
spec_chars = pd.DataFrame({'Character': spec_chars.index, 'Occurrence': spec_chars.values})
    
# remove alphanumeric from the dataframe, and drop them
# XXX to turn alphanumeric to don't care
spec_chars = spec_chars.replace('\w', 'XXX', regex=True)
spec_chars = spec_chars[spec_chars['Character'] != "XXX"]

# Report the occurence
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (spec_chars.sort_values(by='Occurrence', ascending=False))

   Character  Occurrence
8                     56
24         &           4
2          -           3
6          ,           3
15         /           2
1          )           1
13         (           1
18         |           1

Now that we have the occurence, we only care about these non-alphanumeric characters because they have the highest occurrence of all.

[" ", ",", "-", "/", "&", ")", "("]

<br>
We then define our first two passes in filtering weird ones.
<hr>

#### 1st Pass
We do not care about the non-alphanumerics with character occurrences below 89.
<br>

#### 2nd Pass
We do not care about abbreviations and those specialties that are less than 4 characters.

In [30]:
# create regex that filters out non-alphanumeric with exceptions
# specialties whose length is less than 5
rule = re.compile('^[A-Za-z\s,&\/()-]{5,}$')
spec_first_stage = [ s for s in arr if rule.match(s)]

# lengths of the lists
print("Before Regex: ", len(arr))
print("After Regex: ", len(spec_first_stage))

diff = set(arr).symmetric_difference(set(spec_first_stage))

print("Length of Set Difference: ", len(diff))

for i in np.sort(list(diff)):
    print(i)

Before Regex:  27
After Regex:  26
Length of Set Difference:  1
internal medicine | cardiology

We've just removed 97 entries whose specialties are not upto standards.
Let's investigate on what the next pass could possibly be.

<hr>

#### 3rd Pass
Keep specialties that have certain keywords like the suffix "-logy".

In [31]:
allSpecialties = list(set(spec_first_stage))

medWords = ["logy", "medicine", "specialist", 
            "special", "surgery", "ontics", "try", 
            "metry", "infectious", "emergency",
           "family", "health", "general", "pedia",
           "nurse", "scopy", "scopic", "care",
           "disease", "vet", "service", "psycho", "mental", "med",
           "nutrition", "orofacial", "genetics", "dental", "prevention",
            "physical", "pedia", "pedriatics", "animal", "rehab", "gyne", "logist",
           "rist", "ultrasound", "doctor", "ics"]

# cross check if the words in specialties contain these keywords
cleanSpec = [i for i in allSpecialties if any(j in i for j in medWords)]

# show filter difference
print("Before filter: ", len(allSpecialties))
print("After filter: ", len(cleanSpec))
print("Removed specialties: ", len(allSpecialties)-len(cleanSpec))

# remove commas
cleanSpec = [spec.replace(",", "") for spec in cleanSpec]

# remove trailing and leading whitespaces
cleanSpec = [spec.lstrip() for spec in cleanSpec]
cleanSpec = [spec.rstrip() for spec in cleanSpec]

# get all the words and the count
cleanSpec = [spec.split() for spec in cleanSpec]
cleanSpec = [j for i in cleanSpec for j in i]

# Fix typos
spell = Speller(lang='en')
def Correct(x):
    if not x.isalpha() or x is None:
        return x
    
    if any(med_word in x.lower() for med_word in medWords):
        return x

    correction = spell(x)
    return correction
cleanSpec = [Correct(i) for i in cleanSpec]

# Get the occurence of each word in the aggregate string
spec_words = pd.Series({x : special.count(x) for x in set(cleanSpec)})

# turn the series into dataframe for readability and sorting
spec_words = pd.DataFrame({'Word': spec_words.index, 'Occurrence': spec_words.values})

# Report the occurence
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (spec_words.sort_values(by='Word', ascending=False))

Before filter:  26
After filter:  26
Removed specialties:  0
                   Word  Occurrence
37              surgery           7
25         rheumatology           1
4           pulmonology           1
1            pediatrics           1
23           orthopedic           1
35         optimization           1
32        ophthalmology           1
27           obstetrics           2
21          nutritional           2
6          neurosurgery           1
12  medicine-geriatrics           1
38             medicine          15
17         laparoscopic           1
29             invasive           1
2              internal           7
20          integrative           1
5            infectious           1
42              hormone           1
33  hematology/internal           1
34           hematology           2
22               health           1
11           gynecology           2
8        general/cancer           1
13              general           3
26     gastroenterology           1
16           functional           1
31              female)           1
15               family           1
41                  dog           1
19             diseases           2
3           dermatology           2
0              cosmetic           2
40            companion           1
24                  cat           1
10           cardiology           2
36         bioidentical           1
39            balancing           1
14               animal           1
18                  and           4
7                 adult           1
9                     -           3
30                (male           1
28                    &           4

#### Cross check main_specialty column with list of valid specialties

In [32]:
possibilities = spec_words['Word']
special_chars = [" ", ",", "-", "/", "&", ")", "("]

def correct(x):
    if not isinstance(x, str):
        return x
    
    x = x.lower()

    op = []
    for word in x.split():
        
        # Don't correct words with non-alphanumeric (to prevent medical, -> medical)
        if any(char in word for char in special_chars):
            op.append(word)
        else:
            # Remove non-alphanumeric characters from the word for more accurate matching
            word = ''.join(char for char in word if char.isalnum())
            
            # Match specialty based on valid specialty words
            matches = difflib.get_close_matches(word, possibilities, cutoff=0.85, n=1)
        
            if matches:
                # Append the original word if matching resulted to a word with non-alphanumeric (medical -> medical,)
                if word.isalpha() and not matches[0].isalpha():
                    op.append(word)
                # Else append the corrected word
                else:
                    op.append(matches[0])

                # Print values that was corrected    
                if matches[0] != word:
                    if not (word.isalpha() and not matches[0].isalpha()):
                        print(f"{word:<15} --> {matches[0]}")    
            else:
                op.append('')
                print(f"{word:<15} --> no match")
    
    corrected_words = ' '.join(op)
    return corrected_words

doctors_df['main_specialty'] = doctors_df['main_specialty'].apply(correct)

                --> no match

### Remove leading and trailing spaces and non-alphanumeric characters

In [33]:
import string

def clean_text(text):
    if text is None:
        return None
    # Remove leading and trailing spaces
    text = text.strip()
    
    # Remove trailing non-alphanumeric characters except parentheses
    special_chars = string.punctuation.replace('(', '').replace(')', '')
    text = text.strip(special_chars)
    
    return text

doctors_df['main_specialty'] = doctors_df['main_specialty'].apply(clean_text)

#### Drop rows with empty main_specialty

In [34]:
doctors_df = doctors_df.dropna()
doctors_df = doctors_df[(doctors_df['main_specialty'] != '')]
doctors_df.reset_index(drop=True, inplace=True)

### Check for duplicates

In [35]:
duplicate_rows = doctors_df.duplicated()
num_duplicates = duplicate_rows.sum()

print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

In [36]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (doctors_df.sort_values(by='main_specialty'))

                           doctor_id
12  13D63838EF1FB6F34CA2DC6821C60E49  \
20  DF3AEBC649F9E3B674EEB790A4DA224E
27  204904E461002B28511D5880E1C36A0F
39  3464CE4186536A9855A8A7967B121B3E
19  634841A6831464B64C072C8510C7F35C
18  4A4526B1EC301744ABA9526D78FCB2A6
5   1E8C391ABFDE9ABEA82D75A2D60278D4
29  40F4DA34BBE180214C23B9E55DA4F772
26  96A4D89BA25627B2966703BAE2947543
33  3349958A3E56580D4E415DA345703886
0   F033AB37C30201F73F142449D037028D
3   0EBCC77DC72360D0EB8E9504C78D38BD
22  81E793DC8317A3DBC3534ED3F242C418
16  33805671920F0D02E6D18F630985AACE
41  0FF01D314C804DB670EC779979C1F5B4
40  378271842C95B7894122B598F9874A14
23  C7C46D4BAF816BFB07C7F3BF96D88544
14  82EDC5C9E21035674D481640448049F3
31  ACB3A881C7CE9ABCAE0CE8C99C86A906
35  731B104C87788ED39B5B5E7571145E7B
37  2A83C2B6E517F17CAE341A080C27D8E2
25  44E65D3E9BC2F88B2B3D566DE51A5381
24  0224CD598E48C5041C7947FD5CB20D53
38  F2669241F7CCA3F1306082B7A9F458ED
36  DA2BC1EE176B88E66B5B75B78CC2BDE5
11  E94FE9AC8DC10DD8B9A239E6ABEE2848
13  CA8A2D76A5BCC212226417361A5F0740
17  EE0B86D2E127F776EAAA97D77E078E41
21  D5B3D8DADD770C460B1CDE910A711987
8   2D95666E2649FCFC6E3AF75E09F5ADB9
15  75429D136F65D2D6168B9B6C5F6EC951
30  F7F07E7DAB09533BC71247A5B29A7373
32  30A250583BC20CF070AB6C9189508FCC
6   01EEE509EE2F68DC6014898C309E86BF
4   9C19A2AA1D84E04B0BD4BC888792BD1E
42  4F03DAE4F1F28DEB53F7004C6D7CD132
28  BE26ABE76FB5C8A4921CF9D3E865B454
10  95177E528F8D6C7C28A5473FD5A471B6
9   F5C150AFBFBCEF941DEF203E85CF40BC
34  B3BF6193684F3983BB8642C8ADD75A4A
7   51BE2FED6C55F5AA0C16FF14C140B187
1   2DACE78F80BC92E6D7493423D729448E
2   D1A69640D53A32A9FB13E93D1C8F3104

                                       main_specialty  age
12                companion animal medicine & surgery   44
20                               cosmetic dermatology   49
27                                   cosmetic surgery   39
39                                        dermatology   24
19                                        dermatology   47
18                                        dermatology   59
5                                         dermatology   44
29                                        dermatology   45
26                                        dermatology   49
33                       dog & cat medicine & surgery   21
0                                     family medicine   41
3                                     family medicine   58
22                   general and laparoscopic surgery   56
16                                   general medicine   44
41                             general/cancer surgery   56
40  health optimization medicine, bioidentical hor...   59
23                                         hematology   45
14                       hematology/internal medicine   60
31                                infectious diseases   24
35          integrative medicine, functional medicine   41
37                                  internal medicine   44
25                                  internal medicine   56
24                                  internal medicine   53
38                      internal medicine  cardiology   42
36      internal medicine - adult invasive cardiology   44
11                   internal medicine - rheumatology   40
13  internal medicine gastroenterology and nutriti...   63
17                       internal medicine-geriatrics   61
21                                       neurosurgery   40
8                             obstetrics & gynecology   71
15                          obstetrics and gynecology   56
30                          obstetrics and gynecology   64
32                          obstetrics and gynecology   46
6                                       ophthalmology   51
4                                       ophthalmology   59
42                                      ophthalmology   24
28                                 orthopedic surgery   64
10                                         pediatrics   57
9                                          pediatrics   45
34                                         pediatrics   51
7                                          pediatrics   39
1                                          pediatrics   40
2                                         pulmonology   45

In [37]:
print(doctors_df['main_specialty'].unique())

['family medicine' 'pediatrics' 'pulmonology' 'ophthalmology'
 'dermatology' 'obstetrics & gynecology'
 'internal medicine - rheumatology' 'companion animal medicine & surgery'
 'internal medicine gastroenterology and nutritional diseases'
 'hematology/internal medicine' 'obstetrics and gynecology'
 'general medicine' 'internal medicine-geriatrics' 'cosmetic dermatology'
 'neurosurgery' 'general and laparoscopic surgery' 'hematology'
 'internal medicine' 'cosmetic surgery' 'orthopedic surgery'
 'infectious diseases' 'dog & cat medicine & surgery'
 'integrative medicine, functional medicine'
 'internal medicine - adult invasive cardiology'
 'internal medicine  cardiology'
 'health optimization medicine, bioidentical hormone balancing (male and female), nutritional medicine'
 'general/cancer surgery']

## 2.D Preprocessing - Patients

In [38]:
patients_df.head()

                                   px_id   age  gender
160208  519CAC5EFB113B0E451F77E31541A314  36.0  FEMALE
160213  224DEFC6F387F61F307846B09F945EB2  34.0  FEMALE
160218  D02F0CFD3B6617FF0FD923C9787D5522  55.0    MALE
160221  F39AE3691CEBB42EE1F0A04DC9D6B41F  38.0  FEMALE
160225  0E11FB6A2DEB0D021846C1923096744A  35.0    MALE

### Check data type

In [39]:
patients_df.dtypes

px_id     object
age       object
gender    object
dtype: object

### Change datatype of age to int

In [40]:
# patients_df['age'] = patients_df['age'].astype('Int64')
# Convert 'age' column to integer, handling missing values
patients_df['age'] = patients_df['age'].fillna(-1).astype(int)

### Remove negative Age

In [41]:
# Get unique values of the 'age' column
unique_age_values = patients_df['age'].unique()
print(unique_age_values)

[ 36  34  55  38  35  39  31  45  43  37  63  46  33  48  42  32  40  49
  90  41  91  70  80  71  30  26  51  59  28  64  47  54  29  52  86  88
  92  44  57  56  61  27  74  69  73  68  78  53  97  81  25  58  72  84
  96  50  94  65  60  75  67  62  66  98  82  24  22  20   9  14  12   7
   5  21  11   1   4  10   8   6   2  15   3  16  13  17  93  76  87  85
  19  23  83  77  95  18  89  79 112 107  -4  99  -3  -1 100   0 102 106
 124 105 104 101 120 103 109 108 152]

In [42]:
patients_df = patients_df[patients_df['age'] >= 0]

### Check for multiple representations of the same categorical value (e.g. "No" being represented as "N", "no", "n", etc.).

In [43]:
for column in ['gender']:
    unique_values = patients_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print("Number of unique values:", len(unique_values))
    print()
    unique_values

Unique values in column 'gender':
['FEMALE' 'MALE']
Number of unique values: 2

### Check for duplicates

In [44]:
duplicate_rows = patients_df.duplicated()
num_duplicates = duplicate_rows.sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 41831

In [45]:
patients_df.drop_duplicates(inplace=True)
duplicate_rows = patients_df.duplicated()
num_duplicates = duplicate_rows.sum()
print(f'Number of duplicate rows: {num_duplicates}')

Number of duplicate rows: 0

## Remove appointment records with reference keys that does not exist in other tables

In [46]:
# Get unique patient_ids, clinic_ids, and doctor_ids
valid_patientids = set(patients_df['px_id'])
valid_clinicids = set(clinics_df['clinic_id'])
valid_doctorids = set(doctors_df['doctor_id'])

# Remove appointment records that has an invalid reference id
appointments_df = appointments_df[
    appointments_df['px_id'].isin(valid_patientids) &
    appointments_df['clinic_id'].isin(valid_clinicids) &
    appointments_df['doctor_id'].isin(valid_doctorids)
]

## Remove patients, clinics, and doctors not referenced in appointments

In [47]:
# Check for patients that does not have any appointment record
patients_with_appointments = set(appointments_df['px_id'])
patients_df = patients_df[patients_df['px_id'].isin(patients_with_appointments)]

# Check for clinics not in any appointment record
clinics_with_appointments = set(appointments_df['clinic_id'])
clinics_df = clinics_df[clinics_df['clinic_id'].isin(clinics_with_appointments)]

# Check for doctors that does not have any appointment record
doctors_with_appointments = set(appointments_df['doctor_id'])
doctors_df = doctors_df[doctors_df['doctor_id'].isin(doctors_with_appointments)]

In [48]:
print('Appointments', ' ', len(appointments_df.index))
print('Clinics', ' ', len(clinics_df.index))
print('Doctors', ' ', len(doctors_df.index))
print('Patients', ' ', len(patients_df.index))

Appointments   318911
Clinics   157
Doctors   42
Patients   67186

### Denormalize the data

In [49]:

merged_df = pd.merge(appointments_df, clinics_df, on='clinic_id', how='left')
merged_df = pd.merge(merged_df, doctors_df[['doctor_id','main_specialty']], on='doctor_id', how='left')
merged_df = pd.merge(merged_df, patients_df, on='px_id', how='left')

node_1_df = merged_df[['appt_id', 'age', 'gender', 'hospital_name', 'queue_date', 'city', 'province', 'region_name', 'main_specialty']]

### Reduce size of data
Because experimenting with concurrency control and recovery does not require a complex database, we can remove some of the data.

In [50]:
filtered_df = node_1_df.copy()
filtered_df['queue_date'] = pd.to_datetime(filtered_df['queue_date'])

# Retain data only 2020 onward
filtered_df = filtered_df[filtered_df['queue_date'].dt.year >= 2024]

# Filter the DataFrame to show only records with a non-empty hospital name
filtered_df = filtered_df[filtered_df['hospital_name'].notna()]


node_1_df = filtered_df.copy()

node_1_df

,appt_id,hospital_name,queue_date,city,province,region_name,main_specialty
634,E05777EB9FD22A5A1232C757022D28F8,The Medical City,2024-01-02,Pasig,Manila,National Capital Region (NCR),infectious diseases
635,838D407C0209DF37D5154DC6BA6EFDB4,The Medical City,2024-01-08,Pasig,Manila,National Capital Region (NCR),infectious diseases
636,5F92A3334CFDEF18DBB61DBDFF733C1C,The Medical City,2024-01-11,Pasig,Manila,National Capital Region (NCR),infectious diseases
637,2099603A4A62F3B5246703B34801D9D4,The Medical City,2024-01-11,Pasig,Manila,National Capital Region (NCR),infectious diseases
638,EA5D6F3A233F5BCF736804D5CA1B2E08,The Medical City,2024-01-15,Pasig,Manila,National Capital Region (NCR),infectious diseases
...,...,...,...,...,...,...,...
318351,0ECE5DD443F0DA140671DCC2B0C3BB25,The Medical City,2024-01-05,Pasig,Manila,National Capital Region (NCR),pediatrics
318352,40B924F3CF807D2CD8F4530761F0AAD0,The Medical City,2024-01-05,Pasig,Manila,National Capital Region (NCR),pediatrics
318353,97909208CD848FAB1C84CD59469D524E,The Medical City,2024-01-05,Pasig,Manila,National Capital Region (NCR),pediatrics
318354,AEE756C1A3B26D6CCD62A4E05CDA2B05,The Medical City,2024-01-05,Pasig,Manila,National Capital Region (NCR),pediatrics
318355,A8F012C5094DEA2C374C9A4130A2C083,The Medical City,2024-01-09,Pasig,Manila,National Capital Region (NCR),pediatrics

### Fragment the data

In [51]:
# Get the unique regions
unique_region_names = node_1_df['region_name'].unique()

print("Region Names:")
for region_name in unique_region_names:
    print(region_name)

Region Names:
National Capital Region (NCR)
Central Visayas (VII)
SOCCSKSARGEN (Cotabato Region) (XII)
Ilocos Region (I)
CALABARZON (IV-A)

In [52]:
node_2_df = node_1_df[node_1_df['region_name'].isin(['National Capital Region (NCR)', 'CALABARZON (IV-A)', 'Ilocos Region (I)', 'Bicol Region (V)', 'Central Luzon (III)'])]
node_3_df = node_1_df[node_1_df['region_name'].isin(['Central Visayas (VII)', 'Eastern Visayas (VIII)', 'Western Visayas (VI)', 'SOCCSKSARGEN (Cotabato Region) (XII)', 'Northern Mindanao (X)'])]

# 3. Load
---

## Save to CSV

In [53]:
node_1_df.to_csv('node_1.csv', encoding='utf-8', index=False)
node_2_df.to_csv('node_2.csv', encoding='utf-8', index=False)
node_3_df.to_csv('node_3.csv', encoding='utf-8', index=False)

## Establish a connection with the data warehouse

In [54]:
node_1_db = create_engine("mysql://user:password@ccscloud.dlsu.edu.ph:20054/central_node")

## Load the data to the data warehouse

In [55]:
# Load data to central node
# node_1_df.to_sql('test', con=node_1_db, if_exists='append', index=False, method='multi')